$if mysql
"\C-xd": "SHOW DATABASES;\n"
"\C-xt": "SHOW TABLES;\n"
"\C-xu": "SELECT User,Host,Password,t.* FROM mysql.user AS t ORDER BY User,Host; SELECT Db,User,Host,t.* FROM mysql.db AS t ORDER BY Db,User,Host;\n"
"\C-xc": "SHOW VARIABLES LIKE ¡Æchar%¡Ç; SELECT * FROM information_schema.SCHEMATA; SHOW TABLE STATUS;\n"

"\C-xI": "INSERT INTO tablename (column) VALUES (¡Çvalue¡Ç);"
"\C-xU": "UPDATE tablename col = ¡Æval¡Ç WHERE id = ;"
"\C-xD": "DELETE FROM tablename WHERE id = ;"

"\C-x\C-xd": "CREATE DATABASE dbname DEFAULT CHARACTER SET utf8;"
"\C-x\C-xt": "CREATE TABLE tablename (id SERIAL, created TIMESTAMP, modified TIMESTAMP, text TEXT);"
"\C-x\C-xg": "GRANT ALL PRIVILEGES ON dbname.* TO username@localhost IDENTIFIED BY "secret";"

"\C-x\C-xD": "DROP DATABASE dbname;"
"\C-x\C-xT": "DROP TABLE tablename;"
"\C-x\C-xU": "DROP USER username@localhost;"

$endif
